
<div class = "flex flex-col w-full h-svh justify-center items-center">
     <div class = "font-bold text-7xl m-10">
          Chat app
     </div>
     <div id="g_id_onload"
          data-client_id="266165888003-p0uj6vk3icjakb0m18abi99pt37fog6l.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-callback="handleGoogleSignIn"
          data-auto_prompt="false">
     </div>
     <div class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="outline"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left">
     </div>
     <div class = "h-24"></div>
</div>
